{% extends 'main.html' %}

{% block content %}

<main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <img class="avatar avatar--xl" src="{{profile.imageProfile}}" />
              <h2 class="dev__name">{{profile.name}}</h2>
              <p class="dev__title">{{profile.short_intro}}</p>
              <p class="dev__location">{{profile.location}}</p>
              <ul class="dev__social">
                {% if profile.social_twitter %}
                <li>
                  <a title="Twitter" href="{{profile.social_twitter.url}}" target="_blank"><i class="im im-twitter"></i></a>
                </li>
                {% endif %}
                {% if profile.social_linkedin %}
                <li>
                  <a title="LinkedIn" href="{{profile.social_linkedin.url}}" target="_blank"><i class="im im-linkedin"></i></a>
                </li>
                {% endif %}
                {% if profile.social_website %}
                <li>
                  <a title="Personal Website" href="{{profile.social_website.url}}" target="_blank"><i class="im im-globe"></i></a>
                </li>
                {% endif %}
              </ul>
{% comment %}               {% if request.profile.id != profile.id  %}
              <a href=" {% url 'create-message' profile.id %}" class="btn btn--sub btn--lg">Send Message </a>
              {% endif %} {% endcomment %}
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Us</h3>
            <p class="devInfo__about">"{{profile.bio}}"</p>
          </div>

          <div class="devInfo">
            <h3 class="devInfo__title">Working Hours</h3>
            <p>
              <div class="devInfo">
              <h3 class="devInfo__about">Monday to Sunday,  10AM-7PM</h3>
            </p>    
          </div>
          <div class="devInfo">
              <div class="devInfo__title">Find Us</div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15066.901082234488!2d73.3907143!3d19.2508014!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8521b905b97004e0!2sVaishnavi%20Yummy%20Cakes!5e0!3m2!1sen!2sus!4v1635444642183!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}